{% extends "ArticuloApp/base.html" %}
{% load static %}
{% block content %}


<div class="container">
  <h1 class="text-center">Carro de compra<span class="badge text-bg-secondary"></span></h1>
  <hr>

  {% if request.session.carrito_de_compra.items %}
  
  
  <div style="float:right;">

    {% include "ArticuloApp/carro/widget.html" %}

  </div>
  <table class="">  
    
    <thead>
  </thead>
  {% for key,value in carro.items %}
  <tbody>
    <tr>
      
      <td>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{value.imagen_prod}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{value.nombre_prod}}</h5>
                <p class="card-text">{{value.descripcion_prod}}</p>
                <p class="card-text"><small class="text-body-secondary">Cant. {{value.cantidad_prod}}</small></p>
              </div>
            </div>
          </div>
        </div>
      </td>

      <td>

  <div class="col text-center">
      <h3>{{value.precio_prod}}<span class="badge text-bg-secondary">$</span></h3>
      <p>
      <form action="{% url "Act" value.id %}" method="post">
        {% csrf_token %}
        <label for="valor">Cantidad:</label>
        <select name="valor" id="valor1">
          {% for key in value.pedido %}
        <option value={{key}}>{{key}}</option>
          {% endfor %}
        </select>
        <input type="submit" value="enviar">
        </form>  
        <a href="{% url "Eliminar" value.id %}" class="">Eliminar</a>  
      </p>
  </div>

      </td>
      
    </tr>


  </tbody>
  {% endfor %}  
  
</table>

<br>
<br>
<br>
<br>


</div>

{% else %}

{% include "ArticuloApp/carro/carrovacio.html" %}


{% endif %}


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
  {% for mens in messages %}
      <script>
        Swal.fire({
              "title":"Felicitaciones",
              "text":"{{ mens }}",
              "icon":"success"
      })
      </script>
    
  {% endfor %}
{% endif %}

{% endblock %}


