{% extends "ArticuloApp/base.html" %}
{% load static %}


{% block content %}
<div class="container">

      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      
  
  {% for producto in productos %}
  <div class="col mb-5">
      <div class="card" style="width: 200px;">  
      <img class="rounded mx-auto d-block" src="{{producto.imagen_prod.url}}" alt="...">
      <div class="card h-100">
        
        <h7 class="card-title, text-center">{{producto.nombre_prod}}</h7>
        
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{producto.tipo_prod}}</li>
        <li class="list-group-item">Precio: {{producto.precio_prod}} $</li>
        <li class="list-group-item">Cantidad: {{producto.cantidad_prod}} Und.</li>
        <li class="list-group-item"><a href="{% url "Articulo" producto.id %}" class="btn btn-primary">Mas detalle</a></li>
      </ul>           
    </div>
  </div>
  {% endfor %}
  
  
    
    </div>
  </div>
  
  
  {% include "ArticuloApp/paginacion.html" %}

{% endblock %}
